# SPDX-FileCopyrightText: 2024 Zextras <https://www.zextras.com>
#
# SPDX-License-Identifier: GPL-3.0-only

---
  - name: Stop carbonio-user-management-sidecar
    become: true
    ansible.builtin.systemd_service:
      state: stopped
      daemon_reload: true
      name: carbonio-user-management-sidecar
    tags:
      - upgrade-carbonio-user-management

  - name: Reset failed services
    shell:
      cmd: 'systemctl reset-failed'
      executable: /bin/bash
    tags:
      - upgrade-carbonio-user-management


  - name: Remove carbonio user management 24.3 -> 24.5 [Ubuntu]
    become: true
    apt: name={{ item }} state=absent
    with_items:
      - "{{ carbonio_user_management_packages }}"
    when: ansible_os_family == "Debian" and inventory_hostname in groups['filesServers']
    tags:
      - upgrade-carbonio-user-management

  - name: Install carbonio user management 24.3 -> 24.5 [Ubuntu]
    become: true
    apt: name={{ item }} state=present
    with_items:
      - "{{ carbonio_user_management_packages }}"
    when: ansible_os_family == "Debian" and inventory_hostname in groups["dbsConnectorServers"] and groups['filesServers'] | length > 0
    tags:
      - upgrade-carbonio-user-management

##### RHEL

  - name: Remove carbonio user management 24.3 -> 24.5 [RHEL]
    become: true
    yum: name={{ item }} state=absent
    with_items:
      - "{{ carbonio_user_management_packages }}"
    when: (ansible_os_family == "RedHat" or ansible_os_family == "CentOS") and inventory_hostname in groups['filesServers']
    tags:
      - upgrade-carbonio-user-management

  - name: Install carbonio user management 24.3 -> 24.5 [RHEL]
    become: true
    yum: name={{ item }} state=present
    with_items:
      - "{{ carbonio_user_management_packages }}"
    when: (ansible_os_family == "RedHat" or ansible_os_family == "CentOS") and inventory_hostname in groups["dbsConnectorServers"] and groups['filesServers'] | length > 0
    tags:
      - upgrade-carbonio-user-management

